@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "alkatra";
  src: url("./assets/fonts/Alkatra/Alkatra-Regular.ttf");
}

@font-face {
  font-family: "alkatra-bold";
  src: url("./assets/fonts/Alkatra/Alkatra-Bold.ttf");
}


@font-face {
  font-family: "alkatra-semibold";
  src: url("./assets/fonts/Alkatra/Alkatra-SemiBold.ttf");
}

@font-face {
  font-family: "roboto";
  src: url("./assets/fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
  font-family: "roboto-bold";
  src: url("./assets/fonts/Roboto/Roboto-Bold.ttf");
}


@font-face {
  font-family: "roboto-semibold";
  src: url("./assets/fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
  font-family: "roboto-light";
  src: url("./assets/fonts/Roboto/Roboto-Light.ttf");
}


* {
  box-sizing: border-box !important;
  /* transition: ease all 0.5s; */
}

body {
  font-size: 14px;
  font-weight: normal;
  /* background: #ff0fff !important; */
}
